<div class="sidebar">

    <div class="logo">

        🐱

        <h4>Meow Meow</h4>

        <small>Control Panel</small>

    </div>

    <hr>

    <a href="/">
        🏠 Trang chủ
    </a>

    <a href="#">
        🤖 Discord
    </a>

    <a href="#">
        📢 Gửi thông báo
    </a>

    <a href="#">
        📝 Embed
    </a>

    <a href="#">
        👥 Người dùng
    </a>

    <a href="#">
        📜 Nhật ký
    </a>

    <a href="#">
        ⚙️ Cài đặt
    </a>

    <a href="/logout">
        🚪 Đăng xuất
    </a>

</div>
